<?xml version="1.0" encoding="utf-8" ?>
<baidu>
	<ak><![CDATA[D78f866a6e597af56b51171d94120d72]]></ak>
	<!--百度题图API使用KEY-->
	<getlocation><![CDATA[http://api.map.baidu.com/geocoder/v2/?address={address}&output={output}&ak={ak}]]></getlocation>
	<!--获得精纬度接口URL-->
	<getaddress><![CDATA[http://api.map.baidu.com/geocoder/v2/?ak={ak}&location={lat},{lng}&output={output}&pois={pois}]]></getaddress>
	<!--通过精纬度获得对应的地址详细-->
</baidu>