{"inlist":[{"InterfaceName":"getopenidgroup","InterfaceUrl":"https://api.weixin.qq.com/cgi-bin/groups/getid?access_token={access_token}","selecName":"查询用户分组(https://api.weixin.qq.com/cgi-bin/groups/getid?access_token={access_token})","chName":"查询用户分组","InterfaceDes":"通过用户的OpenID查询其所在的GroupID","InterfaceReDes":"groupid\t用户所属的groupid\r\n返回说明 正常时的返回JSON数据包示例：\r\n\r\n{\r\n    \"groupid\": 102\r\n}"}]}