{"logindatalist":[{"userid":"8ae4fda7-3476-49bc-b97e-0246f9d8c70d","userName":"超级管理员","logincode":"superadmin","passWord":"e10adc3949ba59abbe56e057f20f883e","usertype":0,"status":0},{"userid":"b8cfea02-e35a-4738-926d-98db50aef7e7","userName":"测试一下","logincode":"admin","passWord":"e10adc3949ba59abbe56e057f20f883e","usertype":1,"status":0}]}