@using InterfaceTool.Common;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>编辑登录信息</title>
    @StylesLoad.Render(new string[] { StylesLoad.Bootstrap })
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-xs-12">
                <form id="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 col-md-2 control-label">用户名</label>
                        <div class="col-xs-8 col-sm-9 col-md-7">
                            <input type="text" id="userName" maxlength="50" class="form-control required" name="userName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 col-md-2 control-label">用户类型</label>
                        <div class="col-xs-8 col-sm-9 col-md-7">
                            <select class="form-control required" name="usertype" id="usertype">
                                <option value="0">超级管理员</option>
                                <option value="1">接口管理员</option>
                                <option value="2">安卓开发人员</option>
                                <option value="3">IOS开发人员</option>
                            </select>
                            <span class="help-block">接口管理员可以对接口进行更新与添加</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 col-sm-3 col-md-2 control-label">登录帐号</label>
                        <div class="col-xs-8 col-sm-9 col-md-7">
                            <input type="text" id="logincode" maxlength="2000" class="form-control required" name="logincode" />
                        </div>
                    </div>
                    <div id="add_password" style="display:none">
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-3 col-md-2 control-label">输入密码</label>
                            <div class="col-xs-8 col-sm-9 col-md-7">
                                <input type="password" id="passWord" maxlength="2000" class="form-control" name="passWord" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-3 col-md-2 control-label">再次输入密码</label>
                            <div class="col-xs-8 col-sm-9 col-md-7">
                                <input type="password" id="repassWord" maxlength="2000" class="form-control" name="repassWord" />
                            </div>
                        </div>
                    </div><div id="up_password" style="display:none">
                        <div class="form-group">
                            <label class="col-xs-4 col-sm-3 col-md-2 control-label">输入更改密码</label>
                            <div class="col-xs-8 col-sm-9 col-md-7">
                                <input type="password" id="uppassWord" maxlength="2000" class="form-control" name="uppassWord" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4 col-sm-3 col-md-2"></div>
                        <div class="col-xs-8 col-sm-9 col-md-7">
                            <button class="btn btn-primary">确定</button>
                            <a class="btn btn-primary" href="/InterfaceTest/LogindataList">返回列表</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @ScriptsLoad.Render(new string[] { ScriptsLoad.Jquery, ScriptsLoad.Bootstrap, ScriptsLoad.jQueryValidator, ScriptsLoad.BootstrapMultiselect, ScriptsLoad.Layers, ScriptsLoad.SerializeForms })
    <script>
        var submiturl = "";
        var uid = "@ViewBag.UID";
        $(function () {
            if (!uid) {
                submiturl = "/Method/ADD_LoginData/";
                $("#add_password").show();
                $("#up_password").hide();
            }
            else {
                $("#add_password").hide();
                $("#up_password").show();
                submiturl = "/Method/Update_LoginData/" + uid;
                $.get("/Method/GetLoginInfoModel/"+ uid, function (json) {
                    if (json) {
                        SerializeForms.form.deserialize($("#form"), json);
                    }
                });
            }
            $("#form").validate({
                submitHandler: function (form) {
                    var indexload = layer.load();
                   $.ajax({
                        type: 'post',
                        dataType: "json",
                        data: $(form).serializeArray(),
                        url: submiturl,
                        success: function (d) {                           
                            layer.close(indexload);
                            layer.msg(d.msg, { icon: d.success ? 1 : 2, time: 3000 });
                            if (d.success) {
                                setTimeout(function () { window.location.href = "/InterfaceTest/InterfaceList"; }, 2500);
                            }
                        },
                    });
                }
            });

        })
    </script>
</body>
</html>